.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gap {
    gap: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.profile{
    width: 10%;
    border-radius: 50%;
}
.center :hover{
    color: #2B3784;
}
.center a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    color: #B11313;
    font-weight: bold;
}
.center-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c0392b;
    text-decoration-line: underline;
}
.aboutme{
    font-size: large;
    color: #3d3d3d;
}
