.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gap {
    gap: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.center a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    color: #B11313;
    font-weight: bolder;
}
.center :hover{
    color: #2B3784;
}

.profile{
    width: 10%;
    border-radius: 50%;
}
.heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0652DD;
}
.paragraph{
    width: 90%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2f3640  ;
}
.image{
    width: 12%;
}
.gallery{
    gap: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.heading2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #353b48;
    font-size: xx-large;
    text-decoration: underline;
}
.something{
    width: 45%;
}